@import url('https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
:root {
    --primary_font: 'Victor Mono', monospace;

    --body_font_size: 1.6rem;

}

body, * {
    font-family: var(--primary_font);
}

.container--pokedex {
    gap: 1.6rem;
}
